$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$grid-gutter-width: 24px !default;
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
"Hiragino Sans GB",
"Hiragino Sans GB W3",
"Microsoft YaHei",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
"SimSun" serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace !default;
$grid-gutter-width: 0px !default;
$body-bg: #ffffff !default;
$grid-float-breakpoint: 3000px;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "swipebox.scss";

.pb70 {
    padding-bottom: 70px;
}
.pt50 {
    padding-top: 50px;
}

.btn-a {
    @include button-variant(#ffffff, #2bc2fc, #2bc2fc);
    border-radius: 0px;
}

.btn-b {
    @include button-variant(#333333, #ffffff, #2bc2fc);
}

.navbar-top {
    background-color: #2bc2fc;
    border: none;
    min-height: 40px;
    margin-bottom: 0;
    .navbar-header {
        margin-right: 0px;
        .navbar-toggle {
            border: none;
            background-color: #1fa8dd;
            padding: 0;
            border-radius: 0;
            margin-left: 4px;
            margin-right: 0px;
            &:active, &:focus {
                background-color: darken(#1fa8dd, 10%);
            }
            &.collapsed {
                .icon {
                    display: none;
                    &.icon-collapsed {
                        display: block;
                    }
                }
            }
            .icon-collapsed {
                display: none;
            }
        }
    }
    .navbar-brand {
        height: 50px;
        line-height: 46px;
        padding-top: 0;
        padding-bottom: 0;
        img {
            display: inline;
        }
    }
    .navbar-text {
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        height: 50px;
        line-height: 50px;
    }
    .navbar-collapse {
        background-color: #4c4c4c;
        border: none;
        text-align: center;
        height: 56px;
        padding-top: 7px;
        a {
            color: #ffffff;
            font-size: 13px;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            img {
                display: block;
                margin: 0 auto;
            }
            p {
                margin-top: 5px;
                margin: 0;
            }
            &:hover,
            &:active,
            &:focus {
                @include opacity(0.8);
            }
        }
    }
}

.navbar-collapse {
    background-color: #ffffff;
    border: none;
    text-align: center;
    height: 46px;
    padding-top: 7px;
    a {
        color: inherit;
        font-size: 13px;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        img {
            display: block;
            margin: 0 auto;
        }
        p {
            margin-top: 5px;
            margin: 0;
        }
        &:hover,
        &:active,
        &:focus {
            @include opacity(0.8);
        }
    }
}

.navbar-bottom {
    min-height: 66px;
    text-align: center;
    background-color: #f7f7f7;
    a {
        font-size: 13px;
        color: #333333;
        text-decoration: none;
        .icon-30 {
            margin-top: 10px;
        }
    }
}

.banner {}

.owl-theme {
    .owl-controls {
        margin-top: -25px;
        transform: translate3d(0, 0, 0);
    }
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    @include opacity(0.5);
    border-radius: 20px;
    background: #ffffff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #2bc2fc;
    @include opacity(1);
}


.content {
    margin: 16px 12px;
    .container {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #f5f5f5;
        &.city-switch {
            padding-bottom: 5px;
            padding-top: 5px;
            .form-control {
                border-color: 1px solid #2bc2fc;
                height: 25px;
                padding-bottom: 2px;
                padding-top: 2px;
            }
            .dropdown-menu {
                width: 50%;
                > li {
                }
                .dropdown-submenu {
                    width: 100%;
                }
            }
            .city-picker-wraper {
                position: relative;
                display: none;
                .col-xs-6 {
                    padding: 0;
                }
                .city-picker {
                    position: absolute;
                    width: 100%;
                    top: 5px;
                    background-color: #f5f5f5;
                    border: 1px solid #2bc2fc;
                    z-index: 999;
                    margin-left: 0px;
                    margin-right: 0px;
                    .nav {
                        > li {
                            > a {
                                color: inherit;
                                cursor: pointer;
                            }
                            &.active {
                                > a {
                                    background-color: #fff;
                                    color: #2bc2fc;
                                }
                            }
                        }
                        .cities {
                            display: none;
                        }
                        &.nav-city {
                            height: 234px;
                            overflow-y: auto;
                            background-color: #fff;
                            > li {
                                > a {
                                    color: inherit;
                                    background-color: #fff;
                                }
                                &.active {
                                    > a {
                                        color: #2bc2fc;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
    &.project {
        h2.title {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 15px;
        }
        h3.product-name {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 16px;
            color: #2bc2fc;
        }
        .tel {
            font-size: 13px;
            font-weight: bold;
            a {
                text-decoration: none;
                color: #ff9a35;
            }
        }
        .address {
            font-size: 12px;
        }
        .icon {
            vertical-align: middle;
            margin-top: -3px;
        }
    }
    &.project-surround,
    &.project-multi {
        h2.title {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .media {
            border-bottom: 2px solid #ffffff;
            padding-bottom: 12px;
            .media-left {
                .media-object {
                    width: 120px;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
        h3.product-name {
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 15px;
        }
        .tel {
            font-size: 13px;
            font-weight: bold;
            a {
                text-decoration: none;
                color: #ff9a35;
            }
        }
        .address {
            font-size: 12px;
            span {
                margin-left: 25px;
                display: block;
            }
        }
        .icon {
            vertical-align: middle;
            margin-top: -3px;
        }
    }
    &.aboutus {
        h1 {
            font-weight: bold;
            margin-top: 10px;
            &.en {
                font-size: 36px;
                color: #444444;
            }
            &.cn {
                font-size: 34px;
                color: #2bc2fc;
            }
        }
        .icon {
            margin-top: 10px;
            // transform: scale(0.5) translateX(50%) translateY(-50%);
        }
        p {
            margin-top: 10px;
            font-size: 12px;
            color: #ff9a35;
            font-weight: bold;
        }
        .contact-us {
            p {
                font-weight: normal;
                @include clearfix();
                .icon {
                    float: left;
                    margin-top: -3px;
                }
            }
        }
    }
    &.content-full {
        .container {
            padding: 0;
            background-color: transparent;
            .title {
                font-size: 18px; 
                text-align: center;
                margin-top: 5px;
                color: #333333;
                &.title-yuanqu {
                    color: #ff7a04;
                }
            }
            .owl-yuanqufuwu {
                .item {
                    position: relative;
                    .mask {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        padding: 10px;
                        color: #fff;
                        background-color: rgba(0,0,0,0.3);
                    }
                }
                .owl-controls {
                    margin-top: 5px;
                    .owl-page {
                        span {
                            background-color: #ccc;
                        }
                        &.active {
                            span {
                                background-color: #2bc2fc;
                            }
                        }
                    }
                }
            }
        }
    }
    &.content-odd {
        margin-top: 0px;
        .container {
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;
        }
    }
    &.dingzhi-carousel {
        .container {
            padding: 0;
            background-color: transparent;
        }
        .title {
            font-size: 15px;
            text-align: center;
            margin-top: 0;
        }

        .with-title {
            .owl-item {
                p {
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
            }
            .owl-controls {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 25px;
                width: 100%;
            }
        }
    }
    &.dingzhi {
        font-size: 12px;
        .title {
            font-size: 14px;
            text-align: center;
            margin-top: 0;
            color: #2bc2fc;
        }
        .form-control {
            font-size: 12px;
            height: 30px;
            border-radius: 0px;
            background-color: transparent;
            box-shadow: none;
            -webkit-appearance: none;
        }
        textarea.form-control {
            height: auto;
        }
        .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
            padding-right: 0;
            padding-left: 0;
        }
        .btn-wrap {
            text-align: center;
            .btn {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }

    &.yuanqu {
        .title {
            font-size: 15px;
            text-align: center;
            border-bottom: 1px solid #dcdcdc;
            padding-bottom: 10px;
        }
        .tabpanel {
            .nav-tabs {
                border-bottom: none;
                > li {
                    width: 33.3333%;
                    text-align: center;
                    position: relative;
                    a {
                        color: #333333;
                        padding: 0px;
                        padding-top: 1px;
                        border: none;
                        p {
                            margin-top: 30px;
                            font-size: 12px;
                        }
                        .iconfont {
                            height: 24px;
                            width: 24px;
                            position: absolute;
                            left: 50%;
                            margin-left: -12px;
                            &.active {
                                @include opacity(0);
                            }
                        }
                    }
                    &.active {
                        a {
                            background-color: transparent;
                            color: #ff9a35;
                            .iconfont {
                                @include opacity(0);
                                &.active {
                                    @include opacity(1);
                                }
                            }
                        }
                    }
                }
            }
        }
        .tab-content {
            min-height: 150px;
            .row {
                margin-left: -5px;
                margin-right: -5px;
            }
            .btn-more {
                @include button-variant(#ffffff, #ff9a35, #ff9a35);
            }
            .item {
                padding: 5px;
                margin-bottom: 10px;
                a {
                    color: #333;
                }
                .img-wrap {
                    position: relative;
                    .hot {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 25px;
                        height: 25px;
                    }
                }
                .title {
                    font-size: 12px;
                    padding: 0;
                    margin: 0;
                    margin: 5px 0;
                    border-bottom: none;
                    font-weight: normal;
                    text-align: left;
                    .tag {
                        display: inline-block;
                        padding: 0px 3px;
                        color: #fff;
                        background-color: #ff7a04;
                        border-radius: 3px;
                        margin-right: 3px;
                    }
                }
                .date,
                .location {
                    font-size: 10px;
                    color: #969696;
                    img {
                        @include opacity(0.3);
                        width: 9px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .fuwu {
            font-size: 12px;
            text-align: center;
            .icon {
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }
            p {
                margin-top: 5px;
            }
            img.img-responsive {
                width: 100%;
            }
        }
        .owl-item {
            .item {
                img.img-responsive {
                    width: 100%;
                }
                p {
                    margin-top: 10px;
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
        }
        .with-title {
            .owl-controls {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 25px;
                width: 100%;
            }
        }
        .owl-controls {
            position: relative;
            top: -30px;
        }
    }
    .separate-h {
        height: 0;
        border-bottom: 1px solid #dcdcdc;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &.project-detail {
        margin-bottom: 0;
        .container {
            padding-top: 0px;
        }
        h1.project-name {
            font-size: 18px;
            color: #333333;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0px;
        }
        h1.title {
            font-size: 15px;
            text-align: center;
            margin-top: 10px;
        }
        p {
            margin-bottom: 5px;
        }
        &.project-jieshao {
            .owl-carousel {
                margin-bottom: 10px;
            }
        }
        &.project-jiaotong {
            p {
                padding-left: 12px;
                padding-right: 12px;
                &.first {
                    margin-top: 10px;
                }
            }
        }
        &.project-youshi {
            .col-left {
                padding-right: 5px;
                padding-left: 5px;
            }
            .col-right {
                padding-left: 5px;
                padding-right: 5px;
            }
            a {
                color: #333333;
                text-decoration: none;
            }
            .media {
                margin-top: 10px;
                margin-bottom: 10px;
                .media-body {
                    h4.media-heading {
                        font-size: 14px;
                        margin-bottom: 2px;
                    }
                    p {
                        margin-top: 0;
                        font-size: 12px;
                        color: #666666;
                    }
                }
            }
        }
        &.project-yetai {
            .media {
                margin-top: 10px;
                margin-bottom: 10px;
                .media-body {
                    h4.media-heading {
                        font-size: 14px;
                        margin-bottom: 2px;
                        color: #09bbff;
                    }
                    p {
                        margin-top: 0;
                        font-size: 12px;
                        color: #ff9a35;
                    }
                }
            }
        }
        &.project-huxing {
            .title {
                font-size: 16px;
                margin-bottom: 0;
            }
            .huxing-name {
                margin-top: 10px;
                font-size: 12px;
                text-align: center;
            }
            .img-responsive {
                margin-bottom: 10px;
            }
            .img-thumbnail {
                border-radius: 0px;
            }
            .nav-tabs {
                border-bottom: none;
                margin-bottom: 10px;
                > li {
                    text-align: center;
                    border-bottom: 10px solid #dcdcdc;
                    > a {
                        font-size: 11px;
                        border: none;
                        background-color: #ebebeb;
                        color: #333333;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    // Active state, and its :hover to override normal :hover
                    &.active > a {
                        &, &:hover, &:focus {
                            color: #ffffff;
                            background: rgb(88, 209, 255);
                            border: none;
                        }
                    }
                }
                &.nav-huxing {
                    > li {
                        padding: 10px 0 5px;
                        margin-right: 1px;
                        > a {
                            border: none;
                            width: auto;
                            background-color: transparent;
                            color: #333333;
                            font-size: 16px;
                            padding-top: 0px;
                            padding-bottom: 0px;
                        }
                        &.active {
                            border-bottom-color: #09bbff;
                        }
                        &.active > a {
                            &, &:hover, &:focus {
                                color: #09BBFF;
                                background: transparent;
                                border: none;
                            }
                        }
                        &.last {

                            > a {
                                border-right: none;
                            }
                            &.active > a {
                                &:hover, &:focus {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.project-peitao {
            .col-xs-4 {
                text-align: center;
                .icon-30 {
                    width: 30px;
                    height: 30px;
                }
                h4 {
                    font-size: 13px;
                    margin-bottom: 5px;
                }
                p {
                    margin-top: 5px;
                    font-size: 12px;
                    color: #666666;
                }
            }
            .nav-tabs {
                border-bottom: 2px solid #dcdcdc;
                margin-bottom: 10px;
                > li {
                    text-align: center;
                    > a {
                        font-size: 12px;
                        border: none;
                        background-color: #ebebeb;
                        color: #333333;
                        padding-left: 10px;
                        padding-right: 10px;

                    }
                    // Active state, and its :hover to override normal :hover
                    &.active > a {
                        &, &:hover, &:focus {
                            color: #ffffff;
                            background: rgb(88, 209, 255);
                            border: none;
                        }
                    }
                }
                &.nav-fuwu {
                    border-bottom: 1px solid #C5C5C5;
                    > li {
                        padding: 10px 0 5px;
                        > a {
                            border: none;
                            width: auto;
                            background-color: transparent;
                            color: #333333;
                            font-size: 16px;
                            padding-top: 0px;
                            padding-bottom: 0px;
                            border-right: 1px solid #C5C5C5;
                        }
                        &.active {}
                        &.active > a {
                            &, &:hover, &:focus {
                                color: #09BBFF;
                                background: transparent;
                                border: none;
                                border-right: 1px solid #C5C5C5;
                            }
                        }
                        &.last {
                            > a {
                                border-right: none;
                            }
                            &.active > a {
                                &:hover, &:focus {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}

.project-detial {
    .content {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}